@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

.c{
    display: flex;
    background-color: white;
    width: 100vw;
    max-width: 100%;
    height: 100vh;

}

.c-left{
    flex:1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
   
}
.c-right{
    flex: 1;
   
    position: relative;
}


.c-left-wrapper{
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  
}

.c-name{
    margin-top: 20px;
    font-size: 45px;
    font-weight: 400;
    
}
.c-para{
    font-size: 20px;
    font-weight: 300;
    align-items: flex-start;
    margin-top: 30px;
}
.ro{
    color: tomato;
}

.c-title{
  margin-top: 30px;
  
}

.c-title>p{
  font-size: 30px;
  color: tomato;
}


 
  .contact-me{
   
    margin-top: 50px;
    
  }
  .contact-me > a > button{
    background-color: tomato;
    color: white;
    border: none;
    padding: 0.9vmax 4vmax;
    width: auto;
    font: 300 0.8vmax "Roboto";
   
    cursor: pointer;
    border-radius: 30px;
    
  }

  .c-bg{
      clip-path: circle(80.2% at 100% 50%);
    background-color:tomato;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .c-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .contactt{
    
    align-items: center !important;
    justify-content: center !important;
    margin-top: 30px !important; 
  }


  

  @media screen and (max-width: 650px){

    .c{
      height: 50vh !important;
    }

    .c-para{
      font-size: 10px;
    }
    .c-name{
      font-size: 12px !important; 
    }

  }

  
  @media screen and (max-width: 900px) {

    .c-name{
      font-size: 25px;
    }

    .contact-me > button{
      font: 300 1.5vmax "Roboto";
    }

    .c{
      height: 70vh;
    }
    
    
  }

  @media screen and (max-width: 480px) {
    .c {
      flex-direction: column;
      height: 100vh !important;
    }

    .c-name{
      font-size: 20px !important;
    }
    .c-para{
      font-size: 15px;
    }
  
    

    
  }