@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.logoo{

    
    
    font-size: 3rem;
    color: #8e8b8b;

}
.mmain{

    margin-top: -7px;

}

.com{
    font-size: 2rem;
    color:tomato;
}

.choicess{
    margin-top: -7px;
   font-size: 1.5rem;
    color: tomato;
}

